<div class="center hero-unit">
  <h1>How are you, Twitter?</h1>

  <h2>Mine today's tweets to measure how people around the country feel right now.</h2>
  <form class="form-search">
    <input type="text" class="input-large search-query">
    <button class="btn btn-info" type="button">Search</button>
  </form>
</div>