<footer class="footer">
  <div class="container">
    <div class="span3"><h5><%= link_to   "About",     about_path %></h5>
      <a href="http://www2.imm.dtu.dk/pubdb/views/publication_details.php?id=6010">Finn Årup Nielsen's list<br>
      <a href="https://dev.twitter.com/status">Twitter API status<br>
    </div>
    <div class="span3"><h5><%= link_to "Contact", contact_path %></h5>
      <a href="http://twitter.com/enddynayn/">Enddy</a> on Twitter<br>
      <a href="http://twitter.com/machikoyasuda/">Machiko</a> on Twitter<br>
    </div>
    <div class="span3"><p>Made in Los Angeles. 2013.</p></div>
  </div>
</footer>